<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--elemento polymer para rcorrer colecciones -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1372/1372999.svg"  alt="">
        <!--img class="flag" src="https://image.flaticon.com/icons/svg/1372/1372999.svg"  alt=""-->
        <!-- on-click : plymer onclick=javascript -->
        <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button"> Obtener clientes</button>

      </div>
      <div class="row">
         <!--table class="table table-striped col-lg-12 col-xs-12"-->
         <table class="table table-striped">
          <tbody>
            <thead>
              <th>ID</th>
              <th>CLIENTE</th>
              <th>COMPAÑIA</th>
            </thead>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>

          </tbody>
        </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        //PETICION DE CONSULTA - TIPO glyphicons-projector
        // peticiones asincronas, con false sigue hasta que cargue todo el resultado
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        //se indica que el resultado es de tipo json
        request.setRequestHeader("Accept","application/json");
        //se envia la peticion
        request.send();
        //se asigna el resultado de la peticiones y se parsea en tipo JSON
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }

      anadirCliente(){
        var request = new XMLHttpRequest();
        //POST: INSERCIONES . PUT: MODIFICACIONES
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        //se indica que el resultado es que acepte json
        request.setRequestHeader("Accept","application/json");
        //se indica que el tipo de contenido sea json
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente ={"CustomerID":"12345", "ContactName":"Pepe", "CompanyNAme":"Pepe Bar"};
        //stringify: convertir  cadena  nuevoCliente en un objeto json
        var body = JSON.stringify(nuevoCliente);
        // se añade al body
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
